html, body, #map {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.marker-start, .marker-dest {
  color: #fff;
  font-weight: bold;
}

.marker-start {
  background: #fff;
  border: 5px solid black;
  border-radius: 99px;
  width: 8px !important;
  height: 8px !important;

}

.marker-dest {
    background: #00f;
}

.path-car, .path-walk, .path-bicycle {
  stroke-opacity: 1;
  pointer-events: none;
}

.path-car, .CDB-Legend-line--car line {
  stroke-width: 9px;
  stroke: #01A3B0;
  stroke-linecap: round;
}

.path-bicycle, .CDB-Legend-line--bicycle line {
  stroke-dasharray: 5,7;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke: #40BE93;
}
.path-walk, .CDB-Legend-line--walk line {
  stroke-dasharray: 0,8;
  stroke-linecap: round;
  stroke-width: 4px;
  stroke: #F2944D;
}

div.cartodb-legend-stack {
  top: 8px;
  box-shadow: none;
  border-radius: 0;
  border: 0;
  background: transparent;
  bottom: auto;
  right: auto;
}
.CDB-Legend {
  position: absolute;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.24),0 4px 8px 0 rgba(0,0,0,.16);
  z-index: 2;
  top: 16px;
  left: 16px;
  padding: 16px 16px 8px 16px;
  width: 200px;
}
.CDB-Legend-title {
  font: 600 12px/16px 'Open Sans';
  color: #2E3C43;
}
.CDB-Legend-listItem {
  font: 600 10px/14px 'Open Sans';
  color: #2E3C43;
  text-transform: uppercase;
  margin-bottom: 12px;
  position: relative;
}
.CDB-Legend-listItem:last-child {
  margin-bottom: 0;
}
.CDB-Legend-listItem:last-child {
  margin-bottom: 0;
}
.CDB-Legend-list {
  padding: 8px 0 0 0;
  margin: 8px 0 20px 0;
}

.CDB-Legend-pointText {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}
.CDB-Legend-line {
  width: 100px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}
.CDB-Legend-listItemText {
  display: inline-block;
  vertical-align: middle;
}

.CDB-Legend-duration {
  text-transform: lowercase;
}

.gcTabs {
  position: absolute;
  z-index: 999;
  left: 12px;
  top: 12px;
  border: 1px solid rgba(255,255,255,.7);
  background: rgba(0,0,0,.7);
  border-radius: 4px;
}

.gcTab {
  display: inline-block;
  padding: 10px 20px;
  color: rgba(255,255,255,.7);
  cursor: pointer;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.gcTab.selected {
  color: #fff;
}

.gcTab:not(:last-child) {
  border-right: 1px solid rgba(255,255,255,.7);
}


.gc-feature {
  fill:#01A3B0;
  stroke-width: 6px;
  stroke: #01A3B0;
  fill-opacity:.1;
  stroke-opacity: 1;

}

.gc-featureLabel {
  text-align: center;
  font-family: 'OpenSans-Semibold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  /*background: rgba(0,0,0,.7);*/
  /*padding: 10px 20px;*/
  /*border-radius: 4px;*/
  /*border-radius: 4px;*/
  width: 400px;
  margin-left: -200px;
  margin-top: 10px;

}

.gc-featureLabelLbl {
  text-transform: capitalize;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.15);
}

.gc-featureLabelBtn {
  background: #01A3B0 ;
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 71%, rgba(0,0,0,0.05) 100%);
  border: 1px solid rgba(0,0,0,0.10);
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.10);
  border-radius: 4px;
  font-family: OpenSans-Semibold;
  font-size: 13px;
  color: #FFFFFF ;
  letter-spacing: 0px;
  line-height: 20px;
  padding: 8px 0;
  margin-top: 16px;
  margin-left: 100px;
  width: 200px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.15);

}

.gc-featureLabelBtn.disabled {
  opacity: .6;
  color: rgba(255,255,255,.5)
}
